html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0rem 2rem 2rem 2rem;
    background: #eee;
}

header {
    border: 1px solid #ccc;
    border-radius: 2rem;
    background: white;
    margin-top: -3rem;
}

header {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 3rem 0 3rem;
    z-index: 10;
    a {
        text-decoration: none;
        color: black;
    }
    h1 {
        margin: 0;
    }
    .logo {
        height: 5rem;
        margin: 0 2rem 0 2rem;
    }
    input {
        padding: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 0.8rem;
        min-width: 2rem;
    }
}

.headerBackground {
    top: 0 !important;
    height: 5rem;
    width: 100%;
    background-color: #eee;
    z-index: 8;
}

.icons {
    height: 2.5rem;
    margin: 0 1.5rem 0 1.5rem;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.dNone {
    display: none !important;
}

.dFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: sticky;
    top: 2rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    backdrop-filter: blur(2px);
}

.overlayTextBox {
    background-color: white;
    padding: 32px;
    font-family: 'Noto Sans Bengali', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.bold {
    font-weight: bold;
    background-color: #ccc !important;
}