/* media-query */

@media(max-width: 980px) {
    html {
        font-size: 42%;
    }
}

@media(max-width: 520px) {
    html {
        font-size: 36%;
    }
}

@media(max-width: 440px) {
    header {
        h1 {
            display: none;
        }
    }
}